<li data-key="eplmgmt">
    <a id="eplmgmtButton" title="Show setting">
        <span style="color:#333; height: 100%; font-size:1.25em; margin: auto 0.15em;">Eplmgmt</span>
    </a>
</li>
<li class="separator"></li>
<script>document.domain = document.domain;</script>
